<div class="container py-3 mt-5">
  <div class="row">
    <p>{{ this.body }}</p>
  </div>
</div>
<div class="container py-3">
  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">{{ _('Language') }}</th>
          <th scope="col">{{ _('Windows') }}</th>
          <th scope="col">{{ _('macOS') }}</th>
          <th scope="col">{{ _('GNU/Linux') }}</th>
        </tr>
      </thead>
      <tbody>
        {% set t_win = bag('versions', 'torbrowser-win-stable') %}
        {% set t_macos = bag('versions', 'torbrowser-macos-stable') %}
        {% set t_linux = bag('versions', 'torbrowser-linux-stable') %}
        <tr>
            <td><a href="https://support.torproject.org/tbb/tbb-37/">{{ _('See supported languages') }}</a></td>
          <td>
            {% from "macros/downloads.html" import render_windows %}
            {{ render_windows(t_win.version) }}
          </td>
          <td>
            {% from "macros/downloads.html" import render_mac %}
            {{ render_mac(t_macos.version) }}
          </td>
          <td>
            {% from "macros/downloads.html" import render_linux %}
            {{ render_linux(t_linux.version) }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
